/* Place your CSS styles in this file */

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 4vw;
}

img {
  width: 100%;
  height: auto;
}

body {
  /* background-image: url('background.jpeg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}

.background {

  position: relative;
}

.form {
  position: absolute;
  top: 17px;
  left: 20px;
}

input[type=text] {
  width: 10px;
  padding: 5px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  color: aliceblue;
}

select {
  width: auto;
  padding: 5px 17px;
  border: 2px solid red;
  border-radius: 4px;
  font-size: 4vw;

}

label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 4vw;

}

button {
  width: auto;
  padding: 5px 35px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  cursor: pointer;
  transition: background 1s;
  background: grey;
  color: antiquewhite;
  }
  
  button:hover {
  width: auto;
  padding: 5px 35px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  background: green;
  color: aliceblue;
  }

td {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 4vw;
  background-color: black;
  border: 2px solid red;
}

td[data-empty] {
  border: none;
}

table {
  border: 1px solid whitesmoke;
  border-spacing: 20px;

}

p{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 3vw;
  border-style: double;
  
  background-color: black;
  position: absolute;
  border: solid red;
  }

  p[data-empty] {
    border: none;
  }
  
  p[id=num1]{
  top: 80px;
  right: 500px;
  }
  
  p[id=num2]{
  bottom: 20px;
  right: 310px;
  }
  
  p[id=num3]{
  top: 80px;
  right: 110px;
  }
  
  p[id=num4]{
  bottom: 80px;
  right: 500px;
  }
  
  p[id=num5]{
  bottom: 80px;
  right: 110px;
  }
  
  p[id=num6]{
  top: 10px;
  right: 310px;
  }
  
  p[id=num7]{
  top: 190px;
  right: 560px;
  }
  
  p[id=num8]{
  bottom: 190px;
  right: 40px;
  }
  
  p[id=num9]{
  top: 190px;
  right: 40px;
  }
  
  p[id=num10]{
  bottom: 190px;
  right: 560px;
  }
  
  p[id=dai]{
  bottom: 280px;
  right: 290px;
  border: dashed red;
  font-size: 2vw;
  }

  p[id=dai][data-empty]{
    border: none;
    }
    iframe {
			background-color: white;
		}
